:root{
    --border-radius: 1rem;
}

#article{
    display: flex;
    gap:2rem;
    padding: 1rem;
}

#article:hover{
    background-color: rgb(51, 51, 51);
    border-radius: var(--border-radius) ;
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.50);
    transition: 0.3s;
}

#article img{
    border-radius: var(--border-radius) ;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.50);

    object-position: center; /* Centraliza a imagem */
    object-fit: cover;
    max-height: 16rem; /* Define a altura máxima */
    max-width: 27rem; /* Define a largura máxima */
    width: 100%;
    
}

#article .article-infos h2{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

#article .article-infos h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(120, 118, 118);
    margin-bottom: 1rem;
}
